body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4{
    font-family: "Fira Sans", sans-serif;
}


.jumbotron {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #5D4035;
}

.site-footer {
    background-color:  #5D4035;
    color: white;
    padding: 20px 0;
}

a {
    color: rgba(255, 255, 255, 0.5);
}

a:hover {
    color: white;
}

.row-content {
    padding: 50px 0;
}

.body-img {
    margin: 50px;
}

.card {
    margin-bottom: 50px;
}
